In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import numpy as np
import cv2
import pandas as pd
 
img = cv2.imread('/content/drive/MyDrive/data3a/training/01-minor/0001.JPEG')
img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)

In [11]:
#Saving original image pixels into a data frame. 
img12 = img.reshape(-1)
df = pd.DataFrame()
df['Original Image'] = img12

In [12]:
df

       Original Image
0                 219
1                 219
2                 219
3                 219
4                 219
...               ...
50556               8
50557               8
50558               9
50559               9
50560              11

[50561 rows x 1 columns]

In [15]:
#Generating Gabor features
num = 1  #To iterate through the Gabor features
kernels = []  #Empty list to hold all kernels 
for theta in range(2):   #Defining number of thetas () 0 and 1/4 . pi)
    theta = theta / 4. * np.pi
    for sigma in (1, 3):  #Defining Sigma with values of 1 and 3
        for lamda in np.arange(0, np.pi, np.pi / 4):   #Range of wavelengths
            for gamma in (0.05, 0.5):   #Gamma values of 0.05 and 0.5
                           
                gabor_label = 'Gabor' + str(num)  #Label Gabor columns as Gabor1, Gabor2, etc.
                ksize=9
                kernel = cv2.getGaborKernel((ksize, ksize), sigma, theta, lamda, gamma, 0, ktype=cv2.CV_32F)    
                kernels.append(kernel)

                #Filtering image and add values to a new column 
                fimg1 = cv2.filter2D(img12, cv2.CV_8UC3, kernel)
                filtered_img1 = fimg1.reshape(-1)
                df[gabor_label] = filtered_img1  #Labels columns as Gabor1, Gabor2, etc.
                num += 1  
                
print(df.head())

   Original Image  Gabor1  Gabor2  Gabor3  Gabor4  Gabor5  Gabor6  Gabor7  \
0             219       0       0     255     255     255     199     147
1             219       0       0     255     255     255     199     147
2             219       0       0     255     255     255     199     147
3             219       0       0     255     255     255     199     147
4             219       0       0     255     255     255     199     147

   Gabor8  Gabor9  ...  Gabor23  Gabor24  Gabor25  Gabor26  Gabor27  Gabor28  \
0      81       0  ...      255       80        0        0      255      255
1      81       0  ...      255       80        0        0      255      255
2      81       0  ...      255       80        0        0      255      255
3      81       0  ...      255       80        0        0      255      255
4      81       0  ...      255       80        0        0      255      255

   Gabor29  Gabor30  Gabor31  Gabor32
0      102       54      183      109
1      102       54      183      109
2      102       54      183      109
3      102       54      183      109
4      102       54      183      109

[5 rows x 33 columns]

In [17]:
img12 = cv2.imread('/content/drive/MyDrive/data3a/training/01-minor/0002.JPEG')
img12 = cv2.cvtColor(img12, cv2.COLOR_BGR2GRAY)  

img12 = img12.reshape(-1)
df1 = pd.DataFrame()
df1['Original Image'] = img12

#Generate Gabor features
num = 1  
kernels = []  
for theta in range(2): 
    theta = theta / 4. * np.pi
    for sigma in (1, 3):  
        for lamda in np.arange(0, np.pi, np.pi / 4):  
            for gamma in (0.05, 0.5): 
                           
                gabor_label = 'Gabor' + str(num)
                ksize=9
                kernel = cv2.getGaborKernel((ksize, ksize), sigma, theta, lamda, gamma, 0, ktype=cv2.CV_32F)    
                kernels.append(kernel)
                fimg1 = cv2.filter2D(img12, cv2.CV_8UC3, kernel)
                filtered_img1 = fimg1.reshape(-1)
                df1[gabor_label] = filtered_img1  
                num += 1 
                
print(df1.head())

   Original Image  Gabor1  Gabor2  Gabor3  Gabor4  Gabor5  Gabor6  Gabor7  \
0             106       0       0     255     255     214     115      87
1             122       0       0     255     255     227     117      92
2             147       0       0     255     255     228     122      92
3             125       0       0     255     255     221     126      89
4             135       0       0     255     255     221     130      89

   Gabor8  Gabor9  ...  Gabor23  Gabor24  Gabor25  Gabor26  Gabor27  Gabor28  \
0      46       0  ...      255       42        0        0      255      255
1      47       0  ...      255       45        0        0      255      255
2      49       0  ...      255       48        0        0      255      255
3      51       0  ...      236       50        0        0      255      255
4      53       0  ...      238       57        0        0      255      255

   Gabor29  Gabor30  Gabor31  Gabor32
0       76       42       77       38
1       80       42      153       93
2       45       22      162      107
3       66       36       41       14
4       54       28       67       34

[5 rows x 33 columns]

In [18]:
df.shape, df1.shape

((50561, 33), (50246, 33))

In [23]:
#Gerate OTHER FEATURES 
                
#CANNY EDGE
edges = cv2.Canny(img, 100,200)   #Image, min and max values
edges1 = edges.reshape(-1)
df['Canny Edge'] = edges1 #Add column to original dataframe

from skimage.filters import roberts, sobel, scharr, prewitt

#ROBERTS EDGE
edge_roberts = roberts(img)
edge_roberts1 = edge_roberts.reshape(-1)
df['Roberts'] = edge_roberts1

#SOBEL
edge_sobel = sobel(img)
edge_sobel1 = edge_sobel.reshape(-1)
df['Sobel'] = edge_sobel1

#SCHARR
edge_scharr = scharr(img)
edge_scharr1 = edge_scharr.reshape(-1)
df['Scharr'] = edge_scharr1

#PREWITT
edge_prewitt = prewitt(img)
edge_prewitt1 = edge_prewitt.reshape(-1)
df['Prewitt'] = edge_prewitt1

#GAUSSIAN with sigma=3
from scipy import ndimage as nd
gaussian_img = nd.gaussian_filter(img, sigma=3)
gaussian_img1 = gaussian_img.reshape(-1)
df['Gaussian s3'] = gaussian_img1

#GAUSSIAN with sigma=7
gaussian_img2 = nd.gaussian_filter(img, sigma=7)
gaussian_img3 = gaussian_img2.reshape(-1)
df['Gaussian s7'] = gaussian_img3

#MEDIAN with sigma=3
median_img = nd.median_filter(img, size=3)
median_img1 = median_img.reshape(-1)
df['Median s3'] = median_img1

#VARIANCE with size=3
variance_img = nd.generic_filter(img, np.var, size=3)
variance_img1 = variance_img.reshape(-1)
df['Variance s3'] = variance_img1  #Add column to original dataframe

In [25]:
df.shape

(50561, 42)

In [26]:
df.head()

,Original Image,Gabor1,Gabor2,Gabor3,Gabor4,Gabor5,Gabor6,Gabor7,Gabor8,Gabor9,...,Gabor32,Canny Edge,Roberts,Sobel,Scharr,Prewitt,Gaussian s3,Gaussian s7,Median s3,Variance s3
0,219,0,0,255,255,255,199,147,81,0,...,109,0,0.0,1.962616e-17,0.0,0.0,219,218,219,0
1,219,0,0,255,255,255,199,147,81,0,...,109,0,0.0,1.962616e-17,0.0,0.0,219,218,219,0
2,219,0,0,255,255,255,199,147,81,0,...,109,0,0.0,1.962616e-17,0.0,0.0,219,218,219,0
3,219,0,0,255,255,255,199,147,81,0,...,109,0,0.0,1.962616e-17,0.0,0.0,219,218,219,0
4,219,0,0,255,255,255,199,147,81,0,...,109,0,0.0,1.962616e-17,0.0,0.0,218,217,219,0